/************* Learning Phase 4 ************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Ubuntu:wght@300&display=swap');

body{
    font-family: 'Ubuntu', sans-serif !important; /* to overide bootstrap */
}

/************* Learning Phase 3 ************/
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Ubuntu:wght@300&display=swap');

body{
    font-family: 'Ubuntu', sans-serif !important;
} */



/************* Learning Phase 2 ************/
/* h2 {
    font-family: Calibri, sans-serif;
    color: forestgreen;
} */

